:root {
  --pagebg: #263835;//3E606F
  --bg-color: #212b31;//193441
  --bg-color-light: #304047;//204353
  --bg-color-dark: #1c2429;//12252f
  --darkbg: #171E22;//171E22
  --darkbg-dark: #0d1113;//0d1113
  --darkbg-light: #141a1e;//212b31
  --main: #DC9E38;//91AA9D
  --darkermain: #B27A0C;//8CBEB2
  --darkerbg: #1E282D;//1E282D4
  --darkerbg-dark: #141a1e;//141a1e
  --oneColor: #FB9039;//FCFFF5
  --zeroColor: #C39EA0;//D1DBBD
}
//blue#{'darken(var(--bg-color),5)'}
$bg-color-light: var(--bg-color-light);
$bg-color: var(--bg-color);
$bg-color-dark: var(--bg-color-dark);

$darkbg: var(--darkbg);
$darkbg-dark: var(--darkbg-dark);
$darkbg-light: var(--darkbg-light);

$darkerbg: var(--darkerbg);
$darkerbg-dark: var(--darkerbg-dark);

$main: var(--main);
$darkerMain: var(--darkermain);

$oneColor: var(--oneColor);
$zeroColor: var(--zeroColor);
$pagebg:var(--pagebg);

//Green
// $pagebg:#49605F;
// $bg-color: #242428;
// $darkbg: #191C21;
// $main: #8ACB88;
// $darkerMain:#FFD27F;
// $darkerbg: #16181d;
// $oneColor: #FFBF46;
// $zeroColor: #E4FDE1;

//default
// $pagebg:#263835;
// $bg-color: #263238;
// $darkbg: #171E22;
// $main: #DC9E38;
// $darkerMain:#B27A0C;
// $darkerbg: #1E282D;
// $oneColor: #FB9039;
// $zeroColor: #C39EA0;
