:root {
  --pagebg: #000;//3E606F
  --bg-color: #000;//193441
  --bg-color-light: #000;//204353
  --bg-color-dark: #000;//12252f
  --darkbg: #000;//171E22
  --darkbg-dark: #000;//0d1113
  --darkbg-light: #000;//212b31
  --main: #000;//91AA9D
  --darkermain: #000;//8CBEB2
  --darkerbg: #000;//1E282D4
  --darkerbg-dark: #000;//141a1e
  --oneColor: #000;//FCFFF5
  --zeroColor: #000;//D1DBBD
}
//blue#{'darken(var(--bg-color),5)'}
$bg-color-light: var(--bg-color-light);
$bg-color: var(--bg-color);
$bg-color-dark: var(--bg-color-dark);

$darkbg: var(--darkbg);
$darkbg-dark: var(--darkbg-dark);
$darkbg-light: var(--darkbg-light);

$darkerbg: var(--darkerbg);
$darkerbg-dark: var(--darkerbg-dark);

$main: var(--main);
$darkerMain: var(--darkermain);

$oneColor: var(--oneColor);
$zeroColor: var(--zeroColor);
$pagebg:var(--pagebg);

//Green
// $pagebg:#49605F;
// $bg-color: #242428;
// $darkbg: #191C21;
// $main: #8ACB88;
// $darkerMain:#FFD27F;
// $darkerbg: #16181d;
// $oneColor: #FFBF46;
// $zeroColor: #E4FDE1;

//default
// $pagebg:#263835;
// $bg-color: #263238;
// $darkbg: #171E22;
// $main: #DC9E38;
// $darkerMain:#B27A0C;
// $darkerbg: #1E282D;
// $oneColor: #FB9039;
// $zeroColor: #C39EA0;
